* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Inter", serif;
}

.content {
  display: flex;
  min-height: 100dvh;
  overflow-x: hidden;
}

.sidebar {
  width: 232px;
  background-color: #2a3647;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100dvh;
  position: fixed;
}

.sidebarLogo {
  width: 100px;
  height: 122px;
  margin-top: 64px;
}

.sidebarTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 55%;
}

.navContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  width: 100%;
}

.navButton {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  padding-left: 64px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.navSvg {
  width: 25px;
  height: 25px;
}

.navButton a {
  color: #cdcdcd;
  text-decoration: none;
  font-size: 16px;
}

.navButton:hover {
  background-color: #091931;
}

.navButton:hover .navSvg {
  filter: brightness(0) invert(1);
}

.navButton:hover a {
  color: white;
}

.navButton:focus {
  background-color: #091931;
}

.navButton:focus a {
  color: white;
}

.navButton:focus .navSvg {
  filter: brightness(0) invert(1);
}

.sidebarBottom {
  padding-bottom: 64px;
}

.headerAndMain {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100dvh;
  margin-left: 232px;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1920px;
}

.headerLogoResp {
  display: none;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 18px;
}

.headerRight img {
  width: 20px;
  height: 20px;
}

.userIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: #2a3647 2px solid;
  height: 48px;
  width: 48px;
  border-radius: 30px;
  color: #29abe2;
  font-weight: bold;
  cursor: pointer;
}

.helpIcon {
  cursor: pointer;
}

header {
  flex-shrink: 0;
  background-color: #ffffff;
  height: 96px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.headerText {
  font-weight: 400;
}

main {
  flex-grow: 1;
  background-color: #f6f7f8;
}

.mainContent {
  background-color: #f6f7f8;
  max-width: 1920px;
}

.mainHeadline {
  font-size: 51px;
  font-weight: 700;
  padding-top: 64px;
}

.stdPadding {
  padding-left: 64px;
  padding-right: 64px;
}

.respNavbar {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #2a3647;
  z-index: 10;
}

.test {
  background-color: yellow;
}

.testContainer {
  display: flex;
  gap: 16px;
}

/*Responsiv */

@media (max-width: 850px) {
  .content {
    flex-direction: column;
  }

  .sidebar {
    display: none;
  }

  .headerAndMain {
    margin-left: 0;
  }

  .headerText {
    display: none;
  }

  .helpIcon {
    display: none;
  }

  .headerLogoResp {
    display: flex;
    height: 39px;
    width: 32px;
  }

  .stdPadding {
    padding-left: 16px;
    padding-right: 16px;
  }

  .testContainer {
    flex-direction: column;
  }

  .respNavbar {
    display: flex;
    height: 80px;
  }

  .respNavbarContent {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  .respNavButton {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
    height: 100%;
    width: 100px;
    border-radius: 16px;
  }

  .respNavButton a {
    text-decoration: none;
    color: #cdcdcd;
  }

  .respNavButton:hover {
    background-color: #091931;
  }

  .respNavButton:hover .navSvg {
    filter: brightness(0) invert(1);
  }

  .respNavButton:hover a {
    color: white;
  }

  .respNavButton:focus {
    background-color: #091931;
  }

  .respNavButton:focus a {
    color: white;
  }

  .respNavButton:focus .navSvg {
    filter: brightness(0) invert(1);
  }
}

@media (max-width: 360px) {
  .navSvg {
    width: 25px;
    height: 25px;
  }

  .respNavButton a {
    font-size: 14px;
  }
}
