  .contacts {
      --sb-track-color: #ffffff;
      --sb-thumb-color: #a8a8a8;
      --sb-size: 20px;
  }

  .contacts::-webkit-scrollbar {
      width: var(--sb-size)
  }

  .contacts::-webkit-scrollbar-track {
      background: var(--sb-track-color);
      border-radius: 20px;
  }

  .contacts::-webkit-scrollbar-thumb {
      background: var(--sb-thumb-color);
      border-radius: 20px;
      border: 8px solid #ffffff;
  }

  @supports not selector(::-webkit-scrollbar) {
      .contacts {
          scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
      }
  }

  .formWrapper {
      margin-top: 64px;
      display: flex;
      position: relative
  }

  form {
      max-width: 1300px;
  }

  .leftColumn {
      min-width: 400px;
      max-width: 600px;
      flex: 1;
      height: 376px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .leftColumn div {
      display: flex;
      flex-direction: column;
  }

  .titles {
      display: flex;
      gap: 8px;
      position: relative;
  }

  .titles span {
      color: #2A3647;
      font-size: 20px;
      line-height: 24px;
      font-weight: 400;
      display: flex;
  }

  .titles p {
      color: #FF8190;
      font-size: 20px;
      line-height: 24px;
      font-weight: 400;
  }

  .divider {
      background-color: #D1D1D1;
      width: 1px;
      height: 424px;
      margin: 0 48px;
  }

  .rightColumn {
      min-width: 400px;
      max-width: 600px;
      flex: 1;
      height: 420px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .rightColumn div {
      display: flex;
      flex-direction: column;
  }

  .prioSection {
      display: flex;
      flex-direction: row !important;
      justify-content: space-between;
  }

  .prioSection button {
      border-radius: 10px;
      border: 1px solid #D1D1D1;
      background-color: white;
      padding: 16px 10px;
      min-width: 30%;
      font-weight: 400;
      font-size: 20px;
      line-height: 25.2px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .prioSection svg {
      margin-left: 12px;
  }

  .prioSection button:hover {
      cursor: pointer;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, .4);
  }

  .contacts {
      background-color: white;
      height: 200px;
      width: 100%;
      position: absolute;
      top: 73px;
      left: 0;
      overflow-y: scroll;
      visibility: hidden;
      opacity: 0;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, .4);
      padding: 12px 0;
  }

  .information {
      float: left;
      display: flex;
      gap: 2px;
  }

  .information p {
      color: #FF8190;
      font-size: 20px;
      line-height: 24px;
      font-weight: 400;
  }

  .information span {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
  }

  .bottomSection {
      padding-top: 100px;
  }

  .buttonArea {
      float: right;
      display: flex;
      gap: 16px;
      z-index: 9;
  }

  .clear {
      background-color: #F6F7F8;
      border-radius: 10px;
      border: 1px solid #2A3647;
      padding: 16px;
      cursor: pointer;
      font-size: 20px;
      color: #2A3647;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .clear:hover {
      border: 1px solid #29ABE2;
      color: #29ABE2;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  }

  .clear:hover path {
      stroke: #29ABE2;
  }

  .submit {
      background-color: #2A3647;
      border-radius: 10px;
      border: 1px solid #2A3647;
      padding: 16px;
      cursor: pointer;
      font-size: 21px;
      font-weight: 700;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px
  }

  .submit path {
      stroke: white;
  }

  .submit:hover {
      border: none;
      background-color: #29ABE2;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, .4);
  }

  .dropDownContact {
      display: flex !important;
      flex-direction: row !important;
      justify-content: space-between;
      padding: 6px 21px;
      align-items: center;
      border-radius: 10px;
      margin: 2px 0;
  }

  .dropdownContactBlueBG {
      background-color: #2A3647;
      color: white;
  }

  .dropDownContact:hover {
      background-color: #a8a8a8;
      cursor: pointer;
      border-radius: 10px;
  }

  .dropDownLeft {
      display: flex !important;
      flex-direction: row !important;
      gap: 12px;
      width: 100%;
      align-items: center;
  }

  .initials {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;
      border-radius: 50%;
      aspect-ratio: 1/1;
      width: 38px;
      border: 1px solid white;
  }

  .contactName {
      display: flex;
      align-items: center;
      text-wrap: nowrap;
      text-align: center;
  }

  .initialsContacts {
      display: flex !important;
      flex-direction: row !important;
      gap: 8px;
      position: absolute;
      top: 88px;
      left: 0;
      width: 100%;
      flex-wrap: wrap;
  }

  .fontColorwhite {
      color: white;
  }

  .noContact {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      text-decoration: underline;
      text-underline-offset: 3px;
  }

  .urgent {
      background-color: #ff3d00 !important;
      color: white;
  }

  .urgentSVG path {
      fill: white;
  }

  .medium {
      background-color: #FFA800 !important;
      color: white;
  }

  .mediumSVG path {
      fill: white;
  }

  .low {
      background-color: #7AE229 !important;
      color: white;
  }

  .lowSVG path {
      fill: white !important;
  }

  .categoryDropdown {
      background-color: white;
      height: 184px;
      width: 100%;
      position: absolute;
      top: 73px;
      left: 0;
      visibility: hidden;
      opacity: 0;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, .4);
      padding: 12px 0;
  }

  .dropdown {
      visibility: visible;
      pointer-events: unset;
      opacity: 1;
      z-index: 1;
  }

  .singleCategory {
      padding: 6px 21px;
      border-radius: 10px;
      margin: 2px 0;
  }

  .singleCategory:hover {
      background-color: #a8a8a8;
      cursor: pointer;
      border-radius: 10px;
  }

  .subtasksMenu {
      display: flex;
      flex-direction: row !important;
      position: absolute;
      right: 5%;
      top: 46px;
  }

  .visibilty {
      visibility: hidden;
  }

  .toastMSG {
      padding: 12px;
      border-radius: 20px;
      background-color: #2A3647;
      color: white;
      display: flex;
      gap: 12px;
      align-items: center;
      justify-content: center;
      width: 250px;
      position: absolute;
      top: calc(50% - 25px);
      left: calc(50% - 125px);
      z-index: 9;
      transition: all .3s ease-in-out;
      opacity: 1;
  }

  .toastMSG path {
      fill: white;
  }

  .animateToast {
      transform: translateY(1000%);
      opacity: 0;
  }