.boardContent {
  background-color: #f6f7f8;
  max-width: 1920px;
}

.boardHeadline {
  font-size: 61px;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.inputAndSearch {
  display: flex;
  gap: 32px;
}

.addTaskButton {
  width: 160px;
  height: 48px;
  background-color: #2a3647;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  gap: 8px;
  border-radius: 10px;
  cursor: pointer;
}

.addTaskButton:hover {
  background-color: #29abe2;
}

.addTaskButton img {
  height: 18px;
  width: 18px;
}

input[name="search"] {
  background-image: url(../assets/icons/search.svg);
  background-repeat: no-repeat;
  background-position: 95%;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 12px 21px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.boardColumns {
  display: flex;
  width: 100%;
  gap: 24px;
}

.column {
  width: 25%;
}

.columnHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.columnName {
  font-size: 20px;
  font-weight: 700;
  color: #42526e;
}

.addTaskColButton {
  cursor: pointer;
}

.addTaskColButton:hover {
  filter: brightness(0) saturate(100%) invert(58%) sepia(93%) saturate(423%)
    hue-rotate(173deg) brightness(92%) contrast(94%);
}

.addTaskColButton {
  cursor: pointer;
}

.noTask {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: #e7e7e7;
  border-radius: 10px;
  border: 1px dashed #a8a8a8;
  margin-top: 16px;
}

.noTask p {
  color: #a8a8a8;
}

.task {
  width: 100%;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.taskTitleAndDscr {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.taskTitle {
  font-size: 16px;
  font-weight: 700;
}

.taskDscr {
  font-size: 16px;
  font-weight: 400;
  color: #a8a8a8;
}

.subtaskStatus {
  display: flex;
  align-items: center;
  gap: 8px;
}

.progressBar {
  width: 80%;
  height: 12px;
  background-color: #f4f4f4;
  border-radius: 10px;
}

.statusBar {
  width: 60%;
  height: 12px;
  background-color: #29abe2;
  border-radius: 10px;
}

.subTaskText {
  display: flex;
  align-items: center;
  gap: 3px;
}

.subTaskText p {
  font-size: 12px;
}

.statusTextSubtasks {
  display: flex;
  align-items: center;
}
