* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Inter", serif;
  scroll-behavior: smooth;
}

.sidebar {
  width: 232px;
  background-color: #2a3647;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100dvh;
  position: fixed;
}

.sidebarLogo {
  width: 100px;
  height: 122px;
  margin-top: 64px;
}

.sidebarTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 55%;
}

.navContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  width: 100%;
}

.navButton {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  padding-left: 64px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.navSvg {
  width: 25px;
  height: 25px;
}

.navButton a {
  color: #cdcdcd;
  text-decoration: none;
  font-size: 16px;
}

.navButton:hover {
  background-color: #091931;
}

.navButton:hover .navSvg {
  filter: brightness(0) invert(1);
}

.navButton:hover a {
  color: white;
}

.navButton:focus {
  background-color: #091931;
}

.navButton:focus a {
  color: white;
}

.navButton:focus .navSvg {
  filter: brightness(0) invert(1);
}

.sidebarBottom {
  padding-bottom: 64px;
}

.headerAndMain {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100dvh;
  margin-left: 232px;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: calc(1920px - 232px);
}

.headerLogoResp {
  display: none;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 18px;
  position: relative;
}

.headerRight img {
  width: 20px;
  height: 20px;
}

.userIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  border: #2a3647 2px solid;
  height: 48px;
  width: 48px;
  border-radius: 30px;
  color: #29abe2;
  font-weight: bold;
  cursor: pointer;
}

.helpIcon {
  cursor: pointer;
}

header {
  flex-shrink: 0;
  background-color: #ffffff;
  height: 96px;
  box-shadow: 5px 0px 4px 1px #cdcdcd;
  z-index: 1;
}

.headerText {
  font-weight: 400;
}

main {
  flex-grow: 1;
  background-color: #f6f7f8;
}

.mainContent {
  background-color: #f6f7f8;
  max-width: 1920px;
}

.mainHeadline {
  font-size: 51px;
  font-weight: 700;
  padding-top: 64px;
}

.stdPadding {
  padding-left: 64px;
  padding-right: 64px;
}

.respNavbar {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #2a3647;
  z-index: 10;
}

.noTask {
  width: 100%;
  text-align: center;
}

.buttonAreaResp {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  padding-top: 24px;
  width: 100%;
}

/*Responsiv */
@media (max-width: 1260px) {
  .overlay {
    height: calc(100dvh - 80px) !important;
    padding-left: 0px;
    padding-right: 0px;
  }

  #overlayEditTask {
    z-index: 2;

    height: 100dvh !important;
  }

  .taskEditContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: clamp(300px, 100%, 870px);
    width: clamp(300px, 90%, 530px);
    padding: 24px;
  }

  .taskEditContainer h2 {
    font-size: 36px;
  }

  .taskEditContainer p {
    font-size: 18px;
  }

  .bottomSectionResp {
    padding-top: 60px !important;
  }

  .respNavbar {
    z-index: 1;
  }

  .help {
    display: none;
  }

  .column {
    padding-bottom: 80px;
  }

  .formWrapperResp {
    margin-top: 100px !important;
  }

  .sidebar {
    display: none;
  }

  .headerAndMain {
    margin-left: 0;
  }

  .mobileMoveContainer {
    display: flex;
    pointer-events: auto;
    cursor: pointer;
  }

  .headerLogoResp {
    display: flex;
    height: 39px;
    width: 32px;
  }

  .respNavbar {
    display: flex;
    height: 80px;
  }

  .respNavbarContent {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  .respNavButton {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
    height: 100%;
    width: 90px;
    border-radius: 16px;
  }

  .respNavButton a {
    text-decoration: none;
    color: #cdcdcd;
  }

  .respNavButton:hover {
    background-color: #091931;
  }

  .respNavButton:hover .navSvg {
    filter: brightness(0) invert(1);
  }

  .respNavButton:hover a {
    color: white;
  }

  .respNavButton:focus {
    background-color: #091931;
  }

  .respNavButton:focus a {
    color: white;
  }

  .respNavButton:focus .navSvg {
    filter: brightness(0) invert(1);
  }

  .helpDesktopBoard {
    display: none;
  }

  .stdPadding {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 1259.999px) {
  .helpBoard {
    display: none;
  }
}

@media (max-width: 1200px) {
  .addTaskOverlayContainer {
    height: 100%;
    width: 100%;
    padding: 16px;
    border-radius: 0;
  }

  .topBar {
    margin-top: 128px;
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .mainContent {
    margin-top: 60px;
    margin-bottom: 100px;
  }

  .headerText {
    display: none;
  }

  .helpIcon {
    display: none;
  }
}

@media (max-width: 950px) {
  .overallContent {
    background-color: #f6f7f8;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .boardContent {
    background-color: #f6f7f8;
    max-width: clamp(300px, 100%, 950px);
  }

  .overallContent {
    overflow-x: auto;
    overflow-y: auto;
  }

  .inputAndSearch {
    margin-right: 0;
  }

  .searchInput {
    display: none;
  }

  .addTaskButton {
    display: none;
  }

  .respAddTask {
    display: flex;
  }

  .searchInputResp {
    display: flex;
    width: 100%;
  }

  .searchInputResp input {
    width: 100%;
  }

  .topBar {
    flex-direction: column;
    margin-bottom: 64px;
    align-items: flex-start;
  }

  .column {
    width: 100%;
    padding-bottom: 0;
  }

  .boardColumns {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-height: 70dvh;
    gap: 24px;
  }

  .columnContent {
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    height: 100%;
    min-width: 252px;
    gap: 16px;
    flex-direction: row;
    padding-bottom: 8px;
  }

  #done {
    margin-bottom: 92px;
  }

  .task {
    height: 252px;
    width: 252px;
  }

  .columnContent::-webkit-scrollbar {
    height: 8px;
  }

  .columnContent::-webkit-scrollbar-track {
    background: #ffffff00;
    border-radius: 10px;
  }

  .columnContent::-webkit-scrollbar-thumb {
    background: #7c7d7e;
    border-radius: 10px;
    cursor: pointer;
  }

  ::-webkit-scrollbar {
    width: 2px;
  }

  ::-webkit-scrollbar-track {
    background: #f6f7f8;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb {
    background: #7c7d7e;
    border-radius: 20px;
    border: 1px solid #ffffff00;
  }

  .message {
    left: calc(50% - 165px);
    z-index: 2;
  }
}

@media (max-width: 850px) {
  .formWrapperResp {
    overflow-y: auto;
    height: 630px;
    margin-top: 0 !important;
  }

  .rightColumnAdd {
    padding-top: 100px !important;
  }

  .editFormWrapper {
    padding-top: 0 !important;
  }
  .subtasksEdit {
    margin-top: 20px;
  }

  .addTaskOverlayContainer {
    height: 100%;
    padding: 16px;
  }

  .addTaskOverlayContainer h1 {
    background-color: #ffffff;
  }

  .buttonAreaResp {
    padding-top: 0px;
  }

  .bottomSectionEditTask {
    padding-top: 65px !important;
  }

  .bottomSectionResp {
    padding-top: 40px !important;
  }

  .closeAddTask {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .taskEditContainer h2 {
    font-size: 34px;
  }

  .taskEditContainer {
    padding: 16px;
  }
}

@media (max-width: 500px) {
  .formWrapperResp {
    height: 640px;
    margin-top: 0 !important;
  }

  .boardHeadline {
    font-size: 50px;
  }

  .respAddTask {
    height: 35px;
    width: 35px;
  }
}

@media (max-width: 450px) {
  .taskEditContainer {
    width: clamp(300px, 95%, 425px);
  }

  input {
    font-size: 16px !important;
  }

  textarea {
    font-size: 16px !important;
  }
}

@media (max-width: 360px) {
  .navSvg {
    width: 25px;
    height: 25px;
  }

  .respNavButton a {
    font-size: 14px;
  }

  .respNavButtonMid a {
    font-size: 14px;
  }

  .respNavButtonRight a {
    font-size: 14px;
  }
}

@media (max-height: 895px) {
  .formWrapperResp {
    height: 480px;
  }

  .taskEditContainer {
    height: clamp(300px, 100%, 640px);
  }

  .editFormWrapper {
    max-height: 630px;
  }
}

@media (max-height: 845px) {
  .editFormWrapper {
    max-height: 580px;
  }
}

@media (max-height: 670px) {
  .taskEditContainer h2 {
    font-size: 26px;
  }

  .formEdit {
    height: clamp(300px, 100%, 470px);
  }

  .taskEditContainer {
    height: clamp(300px, 100%, 640px);
    width: clamp(300px, 100%, 365px);
  }

  .editFormWrapper {
    max-height: 440px;
  }
  .taskEditContainer p {
    font-size: 16px;
  }

  .overlay {
    height: calc(100dvh - -80px);
  }

  #overlayAddTask {
    height: clamp(300px, 100%, 470px);
    height: calc(100dvh - -80px);
  }

  .editWrapper {
    justify-content: start;
  }

  .formWrapperResp {
    height: 390px;
  }
}

@media (min-width: 1260px) and (max-height: 670px) {
  .overlay {
    height: 100dvh;
  }
}
