* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Inter", serif;
  scroll-behavior: smooth;
  /* outline: 1px solid red; */
}

.overallContent {
  display: flex;
  min-height: 100dvh;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

.boardContent {
  background-color: #f6f7f8;
  max-width: calc(1920px - 232px);
}

.boardHeadline {
  font-size: 61px;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.topBarWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.inputAndSearch {
  display: flex;
  gap: 32px;
  align-items: center;
  margin-right: 32px;
}

.addTaskButton {
  width: 160px;
  height: 48px;
  background-color: #2a3647;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  gap: 8px;
  border-radius: 10px;
  cursor: pointer;
}

.addTaskButton:hover {
  background-color: #29abe2;
}

.addTaskButton img {
  height: 18px;
  width: 18px;
}

input[name="search"] {
  background-image: url(../assets/icons/search_with_divider.svg);
  background-repeat: no-repeat;
  background-position: 95%;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 12px 21px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

input[name="searchResp"] {
  background-image: url(../assets/icons/search_with_divider.svg);
  background-repeat: no-repeat;
  background-position: 95%;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 12px 21px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.searchInputResp {
  display: none;
}

.boardColumns {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-height: 70dvh;
}

.column {
  width: 20%;
}

.columnHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.columnName {
  font-size: 20px;
  font-weight: 700;
  color: #42526e;
}

.addTaskColButton {
  cursor: pointer;
}

.addTaskColButton:hover {
  filter: brightness(0) saturate(100%) invert(58%) sepia(93%) saturate(423%)
    hue-rotate(173deg) brightness(92%) contrast(94%);
}

.addTaskColButton {
  cursor: pointer;
}

.columnContent {
  overflow-y: scroll;
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-bottom: 32px;
  border-radius: 24px;
  gap: 8px;
}

.columnContent::-webkit-scrollbar {
  width: 2px;
}

.columnContent::-webkit-scrollbar-track {
  background: #f6f7f8;
  border-radius: 20px;
}

.columnContent::-webkit-scrollbar-thumb {
  background: #f6f7f8;
  border-radius: 20px;
  border: 1px solid #ffffff00;
}

.noTask {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: #e7e7e7;
  border-radius: 10px;
  border: 1px dashed #a8a8a8;
  margin-top: 16px;
}

.noTask p {
  color: #a8a8a8;
}

.task {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #ffffff;
  border-radius: 24px;
  padding: 16px;
  cursor: pointer;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
}

.category {
  width: fit-content;
  padding: 4px 16px;
  background-color: #0038ff;
  color: #ffffff;
  border-radius: 8px;
}

.taskTitleAndDscr {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.taskTitle {
  font-size: 16px;
  font-weight: 700;
}

.taskDscr {
  font-size: 16px;
  font-weight: 400;
  color: #a8a8a8;
}

.subtaskStatus {
  display: flex;
  align-items: center;
  gap: 8px;
}

.progressBar {
  width: 80%;
  height: 12px;
  background-color: #f4f4f4;
  border-radius: 10px;
}

.statusBar {
  width: 0%;
  height: 12px;
  background-color: #29abe2;
  border-radius: 10px;
}

.subTaskText {
  display: flex;
  align-items: center;
  gap: 3px;
}

.subTaskText p {
  font-size: 12px;
}

.statusTextSubtasks {
  display: flex;
  align-items: center;
}

.initialWrapper {
  position: relative;
  display: flex;
}

.intialsAndPrio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intial {
  width: 32px;
  height: 32px;
  border-radius: 60px;
  background-color: #1fd7c1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.iPos {
  position: absolute;
  bottom: calc(50% - 15px);
}

.respAddTask {
  height: 40px;
  width: 40px;
  background-color: #2a3647;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.respAddTask:hover {
  background-color: #29abe2;
}

.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  height: 100dvh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 100ms ease-in-out;
  padding-left: 64px;
  padding-right: 64px;
  z-index: 1;
}

.overlayClosed {
  transform: translateX(1000%);
}

.addTaskOverlayContainer {
  background-color: #ffffff;
  padding: 32px;
  border-radius: 30px;
}

.addTaskOverlayContainerHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addTaskOverlayContainerHead img {
  cursor: pointer;
}

.addTaskOverlayContainerHead h1 {
  padding-top: 0;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 120px;
  left: calc(50% - 100px);
  height: 74px;
  width: 326px;
  background-color: #2a3647;
  color: #ffffff;
  border-radius: 20px;
  transition: all 75ms ease-in-out;
  z-index: 2;
}

.messageClosed {
  transform: translateY(500%);
}

.categoryT {
  width: fit-content;
  padding: 4px 16px;
  background-color: #06d6a0;
  color: #ffffff;
  border-radius: 8px;
}

.categoryU {
  width: fit-content;
  padding: 4px 16px;
  background-color: #ffb703;
  color: #ffffff;
  border-radius: 8px;
}

.categoryC {
  width: fit-content;
  padding: 4px 16px;
  background-color: #00bbf9;
  color: #ffffff;
  border-radius: 8px;
}

.categoryB {
  width: fit-content;
  padding: 4px 16px;
  background-color: #ff6b6b;
  color: #ffffff;
  border-radius: 8px;
}

.dragAreaHighlight {
  background-color: rgb(240, 238, 238);
  border: 1px dashed lightgrey;
}

.dragging {
  cursor: grabbing;
  transform: rotate(5deg);
}

.taskEditContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: clamp(300px, 100%, 800px);
  width: clamp(300px, 100%, 500px);
  border-radius: 30px;
  background-color: #ffffff;
  padding: 13px;
  gap: 24px;
  overflow-y: auto;
}

.taskDetailHeader {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
}

.taskDetailHeader img {
  cursor: pointer;
}

.taskDetailHeader img:hover {
  background-color: lightgrey;
  border-radius: 50%;
}

.taskEditContainer h2 {
  font-size: 52px;
}

.taskEditContainer p {
  font-size: 20px;
}

.taskDetails {
  font-size: 20px;
}

.taskDetails {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 24px;
}
.detail {
  display: flex;
  gap: 25px;
}
.detailType {
  width: 100px;
}

.detailPrio {
  display: flex;
  gap: 10px;
}

.detailContacts {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.detailContactsList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 120px;
  overflow-y: auto;
}

.detialContactListItem {
  display: flex;
  gap: 16px;
  align-items: center;
}
.detailSubtasks {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subtasksList {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-height: 70px;
  overflow-y: auto;
}

.subtasksListItem {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px !important;
}

.subtasksListItem p {
  font-size: 16px;
}

input[name="detailSubtask"] {
  height: 16px;
}

.taskDetailButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.taskDetailButton {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.taskDetailButton p {
  font-size: 16px;
}

.taskDetailButtonsDivider {
  height: 24px;
  width: 1px;
  background-color: #d1d1d1;
}

.taskDetailButton:hover img {
  filter: brightness(0) saturate(100%) invert(58%) sepia(93%) saturate(423%)
    hue-rotate(173deg) brightness(92%) contrast(94%);
}

.taskDetailButton:hover {
  color: #29abe2;
}

.detailContactsList::-webkit-scrollbar {
  width: 6px;
}

.detailContactsList::-webkit-scrollbar-track {
  background: #ffffff00;
  border-radius: 10px;
}

.detailContactsList::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 10px;
  cursor: pointer;
}

.subtasksList::-webkit-scrollbar {
  width: 6px;
}

.subtasksList::-webkit-scrollbar-track {
  background: #ffffff00;
  border-radius: 10px;
}

.subtasksList::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 10px;
  cursor: pointer;
}

.text {
  color: #42526e;
}

input[name="search"]:focus {
  outline: none;
  border-color: #29abe2;
}

input[name="searchResp"]:focus {
  outline: none;
  border-color: #29abe2;
}

.dNone {
  display: none !important;
}

.editWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.editFormWrapper {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 650px;
  margin-top: 0 !important;
  padding: 12px;
  gap: 16px;
}

.bottomSectionEditTask {
  padding-right: 16px !important;
}

.subTaskCheckBoxEdit {
  height: 16px !important;
}

/* Taskdetail checkbox */
.subtasksListItem input[name="checkbox"] {
  opacity: 0;
  position: absolute;
  left: 250px;
  width: 0;
  height: 0;
}

.subtasksListItem label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-image: url(../assets/icons/checkbox-unticked.svg);
  background-repeat: no-repeat;
  background-position: 95%;
  display: inline-block;
}

.subtasksListItem input[name="checkbox"]:checked + label {
  background-image: url(../assets/icons/checkbox-ticked.svg);
}

.subTaskCheckBoxEdit {
  height: 16px;
  width: 16px;
}

.subTaskCheckBoxEdit:checked {
  background-color: #2a3647 !important;
}

.addTaskOverlayContainerHeadEdit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 16px;
}

.addTaskOverlayContainerHeadEdit img {
  cursor: pointer;
}

.editFormWrapper::-webkit-scrollbar {
  width: 6px;
}

.editFormWrapper::-webkit-scrollbar-track {
  background: #ffffff00;
  border-radius: 10px;
}

.editFormWrapper::-webkit-scrollbar-thumb {
  background: #cbcccc;
  border-radius: 10px;
  cursor: pointer;
}

.leftColumnEdit {
  gap: 16px;
}

.rightColumnEdit {
  gap: 16px;
}

.subtasksEdit {
  margin-top: 90px;
}

.taskHead {
  display: flex;
  justify-content: space-between;
}

.mobileMoveContainer {
  display: none;
}

.moveTaskMobile {
  height: 28px;
  width: 28px;
  pointer-events: auto;
  cursor: pointer;
}

.moveDialog {
  background-color: #2a3647;
  position: absolute;
  padding: 8px;
  top: 40px;
  right: 30px;
  width: 150px;
  border-radius: 12px 0 12px 12px;
  z-index: 1;
}

.moveDialog p {
  color: #cdcdcd;
  padding-bottom: 8px;
  font-size: 14px;
}

.moveTarget:hover {
  cursor: pointer;
  text-decoration: underline;
}

.submitEdit {
  background-color: #2a3647;
  border-radius: 10px;
  border: 1px solid #2a3647;
  padding: 16px;
  cursor: pointer;
  font-size: 21px;
  font-weight: 700;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.submitEdit path {
  stroke: white;
}

.submitEdit:hover {
  border: none;
  background-color: #29abe2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.burgerMenu {
  width: 150px;
  height: fit-content;
  gap: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #2a3647;
  position: absolute;
  top: 72px;
  right: 15px;
  transition: all 0.3s ease-in-out;
  z-index: 9;
}

.burgerMenu a {
  color: #cdcdcd;
  padding: 8px 16px;
  /* border-radius: 8px; */
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-decoration: none;
  cursor: pointer;
}

.burgerMenu a:hover {
  color: white;
  background-color: #29abe2;
}

.slideBurgerMenu {
  transform: translateX(200px);
  pointer-events: none;
  opacity: 0;
}

.markedLink {
  background-color: #091931;
}

.markedLink a {
  color: white !important;
}

.markedLink img {
  filter: brightness(200%);
}

.policyLinks {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  padding-left: 64px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.policyLinks a {
  color: #cdcdcd;
  text-decoration: none;
  font-size: 16px;
}

.policyLinks:hover a {
  color: #29abe2;
}
.subScroll {
  --sb-track-color: #ffffff !important;
}

.subScroll::-webkit-scrollbar-track {
  background: #ffffff !important;
}

.renderedSubtasks::-webkit-scrollbar-thumb {
  border: 8px solid #ffffff !important;
}

.helpDesktop img:hover {
  transform: scale(1.1);
}

.renderedSubtasksBoard {
  --sb-track-color: #ffffff !important;
}

.closeAddTask img:hover {
  background-color: lightgrey;
  border-radius: 50%;
}

#moveBtn {
  z-index: 5;
}
