* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Inter", serif;
}

.contactScrollContainer::-webkit-scrollbar {
  width: var(--sb-size);
}

.contactScrollContainer::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 20px;
}

.contactScrollContainer::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 20px;
  border: 8px solid #ffffff;
}

@supports not selector(::-webkit-scrollbar) {
  .contactScrollContainer {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.contactScrollContainer {
  position: fixed;
  left: 232px;
  top: 96px;
  bottom: 0px;
  overflow-y: scroll;
  width: 450px;
  padding-bottom: 20px;
  background-color: #ffffff;
  --sb-track-color: #ffffff;
  --sb-thumb-color: #a8a8a8;
  --sb-size: 20px;
}

.buttonContainer {
  background-color: #ffffff;
  width: 438px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 96px;
}

.addNewContactButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 356px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #2a3647;
  color: white;
  border-radius: 16px;
  cursor: pointer;
}

.addNewContactButton p {
  font-size: 21px;
  font-weight: 700;
}

.addNewContactButton:hover {
  background-color: #29abe2;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.contactList {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
}

.contactViewContainer {
  position: fixed;
  left: calc(232px + 450px);
  top: 96px;
  bottom: 0px;
}

.contactHeader {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 80px;
}

.contactHeader h1 {
  font-size: 61px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.divider {
  height: 59px;
  width: 3px;
  background-color: #29abe2;
}

.contactHeader p {
  font-size: 27px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.content {
  display: flex;
  min-height: 100dvh;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

.sidebar {
  width: 232px;
  background-color: #2a3647;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100dvh;
  position: fixed;
}

.sidebarLogo {
  width: 100px;
  height: 122px;
  margin-top: 64px;
}

.sidebarTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 55%;
}

.navContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  width: 100%;
}

.navButton {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  padding-left: 64px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.navSvg {
  width: 25px;
  height: 25px;
}

.navButton a {
  color: #cdcdcd;
  text-decoration: none;
  font-size: 16px;
}

.navButton:hover {
  background-color: #091931;
}

.navButton:hover .navSvg {
  filter: brightness(0) invert(1);
}

.navButton:hover a {
  color: white;
}

.navButton:focus {
  background-color: #091931;
}

.navButton:focus a {
  color: white;
}

.navButton:focus .navSvg {
  filter: brightness(0) invert(1);
}

.sidebarBottom {
  padding-bottom: 64px;
}

.headerAndMain {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100dvh;
  margin-left: 232px;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1920px;
}

.headerLogoResp {
  display: none;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 18px;
}

.headerRight img {
  width: 20px;
  height: 20px;
}

.userIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: #2a3647 2px solid;
  height: 48px;
  width: 48px;
  border-radius: 30px;
  color: #29abe2;
  font-weight: bold;
  cursor: pointer;
}

.helpIcon {
  cursor: pointer;
}

header {
  flex-shrink: 0;
  background-color: #ffffff;
  height: 96px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.headerText {
  font-weight: 400;
}

main {
  flex-grow: 1;
  background-color: #f6f7f8;
}

.mainContent {
  background-color: #f6f7f8;
  max-width: 1920px;
}

.mainHeadline {
  font-size: 51px;
  font-weight: 700;
  padding-top: 64px;
}

.stdPadding {
  padding-left: 64px;
  padding-right: 64px;
}

.respNavbar {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #2a3647;
  z-index: 10;
}

.respAddButton {
  display: none;
  position: absolute;
  bottom: 140px;
  right: 20px;
  height: 56px;
  width: 56px;
  border-radius: 60px;
  background-color: #2a3647;
}

.contactGroup {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-bottom: 16px;
  width: 100%;
}

.contactGroup h3 {
  font-size: 20;
  font-weight: 400;
  padding-bottom: 16px;
}

.firstLetterContainer {
  width: 100%;
  display: flex;
  justify-content: start;
  padding-left: 52px;
}

.dividerContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.dividerContactGroups {
  width: 90%;
  height: 1px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
}

.singleContactContainer {
  width: 100%;
  display: flex;
}

.singleContact {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 8px;
  border-radius: 8px;
  width: 350px;
  cursor: pointer;
  margin-left: 52px;
}

.singleContact p {
  margin-bottom: 0;
}

.singleContact:hover {
  background-color: rgb(241, 239, 239);
}

.singleContact:focus {
  color: white;
  background-color: #2a3647;
}

.singleContact:focus .initials {
  border: 1px solid white;
}

.initials {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50px;
  height: 40px;
  width: 40px;
}

.name {
  font-size: 20px;
}

.email {
  color: #29abe2;
}

.contactInfo {
  margin-top: 32px;
  transition: all 75ms ease-in-out;
}

.general {
  display: flex;
  align-items: center;
  gap: 56px;
}

.intialBig {
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  border: 2px solid white;
  font-size: 47px;
  color: white;
}

.nameAndButtons h2 {
  font-size: 47px;
  font-weight: 500;
}

.editDeleteBtnContainer {
  display: flex;
  gap: 16px;
}

.editDeleteBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.editDeleteBtn:hover {
  color: #29abe2;
}

.editDeleteBtn:hover .svg {
  filter: brightness(0) saturate(100%) invert(58%) sepia(93%) saturate(423%)
    hue-rotate(173deg) brightness(92%) contrast(94%);
}

.contactInfo h3 {
  margin-top: 48px;
  margin-bottom: 48px;
  font-size: 20px;
  font-weight: 400;
}

.contactDetails {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detailheader {
  font-weight: 700;
  font-size: 16px;
}

.detailEmail {
  color: #29abe2;
}

.detailClosed {
  transform: translateX(500%);
}

.dNone {
  display: none;
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  height: 100dvh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 100ms ease-in-out;
  padding-left: 64px;
  padding-right: 64px;
}

.overlayContent {
  display: flex;
  height: clamp(300px, 592px, 592px);
  width: clamp(300px, 1212px, 1212px);
  background-color: #ffffff;
  border-radius: 30px;
}

.overlayLeftHalf {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  height: 100%;
  width: 40%;
  background: #2a3647;
  border-radius: 30px 0 0 30px;
}

.overlaytext {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.overlayLeftHalf img {
  height: 66px;
  width: 55px;
}

.overlayLeftHalf h2 {
  font-size: 61px;
  font-weight: 700;
}

.overlayLeftHalf h3 {
  font-size: 27px;
  font-weight: 400;
}
.overlayRightHalf {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.overlayHead {
  width: 100%;
  display: flex;
  justify-content: end;
  padding-right: 32px;
  padding-top: 48px;
}

.overlayHeadresp {
  display: none;
}

.overlayHead img {
  cursor: pointer;
}

.inputWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  margin-top: 84px;
}

.personIcon {
  height: 120px;
  width: 120px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d1d1d1;
}

.personIconEdit {
  height: 120px;
  width: 120px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputAndButtons {
  width: 422px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.inputContainer input::placeholder {
  color: #d1d1d1;
}

.overLayButtonWrapper {
  display: flex;
  gap: 24px;
}

.overLayButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
}

.cancel {
  height: 56px;
  width: 126px;
  border: 1px solid #2a3647;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
}

.cancel:hover {
  border: 1px solid #29abe2;
  color: #29abe2;
}

.cancel:hover img {
  filter: brightness(0) saturate(100%) invert(58%) sepia(93%) saturate(423%)
    hue-rotate(173deg) brightness(92%) contrast(94%);
}

.delete {
  height: 56px;
  width: 126px;
  border: 1px solid #2a3647;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
}

.delete:hover {
  border: 1px solid #29abe2;
  color: #29abe2;
}

.delete:hover img {
  filter: brightness(0) saturate(100%) invert(58%) sepia(93%) saturate(423%)
    hue-rotate(173deg) brightness(92%) contrast(94%);
}

.create {
  height: 57px;
  width: 214px;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #2a3647;
  border-radius: 10px;
}

.create:hover {
  background-color: #29abe2;
}

.save {
  height: 57px;
  width: 99px;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #2a3647;
  border-radius: 10px;
}

.save:hover {
  background-color: #29abe2;
}

.overLayButton img {
  height: 22px;
  width: 22px;
}

.overlayClosed {
  transform: translateX(1000%);
}

.inputContainer {
  position: relative;
  max-width: 100%;
  width: 100%;
}

.inputContainer input {
  width: 422px;
  height: 50px;
  font-size: 20px;
  border: 1px solid #ccc;
  padding-left: 12px;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}

.inputContainer input:focus {
  border-color: #007bff;
}

.inputContainer img {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
  max-width: calc(100% - 16px);
}

.inputContainer input:focus {
  border-color: #29abe2;
}

#addErrorMessage p {
  color: red;
  text-align: center;
  margin-top: 24px;
}

#editErrorMessage p {
  color: red;
  text-align: center;
  margin-top: 24px;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 120px;
  left: calc(50% - 100px);
  height: 74px;
  width: 326px;
  background-color: #2a3647;
  color: #ffffff;
  border-radius: 20px;
  transition: all 75ms ease-in-out;
}

.messageClosed {
  transform: translateY(500%);
}
