/*Responsiv */

@media (max-width: 1400px) {
  .contactScrollContainer {
    left: 0px;
    padding-bottom: 120px;
  }

  .contactViewContainer {
    left: 450px;
    padding-left: 64px;
  }

  .content {
    flex-direction: column;
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .mainContent {
    margin-top: 60px;
    margin-bottom: 100px;
  }

  .sidebar {
    display: none;
  }

  .headerAndMain {
    margin-left: 0;
  }

  .headerText {
    display: none;
  }

  .helpIcon {
    display: none;
  }

  .headerLogoResp {
    display: flex;
    height: 39px;
    width: 32px;
  }

  .stdPadding {
    padding-left: 64px;
    padding-right: 64px;
  }

  .testContainer {
    flex-direction: column;
  }

  .respNavbar {
    display: flex;
    height: 80px;
  }

  .respNavbarContent {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  .respNavButton {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
    height: 100%;
    width: 90px;
    border-radius: 16px;
  }

  .respNavButton a {
    text-decoration: none;
    color: #cdcdcd;
  }

  .respNavButton:hover {
    background-color: #091931;
  }

  .respNavButton:hover .navSvg {
    filter: brightness(0) invert(1);
  }

  .respNavButton:hover a {
    color: white;
  }

  .respNavButton:focus {
    background-color: #091931;
  }

  .respNavButton:focus a {
    color: white;
  }

  .respNavButton:focus .navSvg {
    filter: brightness(0) invert(1);
  }

  .overlayContent {
    flex-direction: column;
    height: clamp(250px, 75%, 760px);
    width: clamp(300px, 90%, 396px);
  }

  .overlayLeftHalf {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: #ffffff;
    height: 45%;
    width: 100%;
    background: #2a3647;
    border-radius: 30px 30px 0 0;
  }

  .overlayLeftHalf img {
    display: none;
  }

  .overlayLeftHalf h2 {
    font-size: 47px;
    font-weight: 700;
  }

  .overlayLeftHalf h3 {
    font-size: 20px;
    font-weight: 400;
  }

  .overlayHead {
    display: none;
  }

  .overlayHeadresp {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 50px;
  }

  .overlayHeadresp img {
    display: flex;
    height: 14px;
    width: 14px;
    margin-right: 16px;
    margin-top: 16px;
    cursor: pointer;
  }

  .overlaytext {
    padding-left: 16px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .personIcon {
    position: absolute;
    bottom: calc(50% - -140px);
    left: calc(50% - 50px);
    height: 100px;
    width: 100px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d1d1d1;
    margin-bottom: 0;
  }

  .personIconEdit {
    position: absolute;
    bottom: calc(50% - -130px);
    left: calc(50% - 60px);
    font-size: 22px;
    height: 80px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .overlayRightHalf {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .inputWrapper {
    position: relative;
    width: 100%;
    margin-top: 0px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
  }

  .inputContainer input {
    width: 100%;
    height: 40px;
  }

  .inputContainer .icon {
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
  }

  .inputAndButtons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 8px;
  }

  .overLayButtonWrapper {
    justify-content: center;
    margin-top: 12px;
  }

  .cancel {
    display: none;
  }

  .delete {
    height: 56px;
    width: 99px;
    border: 1px solid #2a3647;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
  }

  .message {
    left: calc(50% - 100px);
  }

  .intialBig {
    height: 90px;
    width: 90px;
    font-size: 28px;
  }

  #addErrorMessage {
    padding-left: 8px;
    padding-right: 8px;
  }

  #addErrorMessage p {
    font-size: 15px;
  }

  #editErrorMessage {
    padding-left: 8px;
    padding-right: 8px;
  }

  #editErrorMessage p {
    font-size: 15px;
  }
}

@media (max-width: 1100px) {
  .stdPadding {
    padding-left: 16px;
    padding-right: 16px;
  }

  .contactViewContainer {
    display: none;
  }

  .contactScrollContainer {
    width: 100%;
  }

  .contactList {
    margin-top: 16px;
  }

  .buttonContainer {
    display: none;
  }

  .respAddButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .respAddButton:hover {
    background-color: #29abe2;
  }

  .contactScrollContainer {
    left: 0px;
    padding-bottom: 60px;
  }

  .general {
    gap: 20px;
  }

  .respInfo {
    margin-top: 40px;
  }

  .respInfo h3 {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 400;
  }

  .intialBig {
    height: 90px;
    width: 90px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    border-radius: 2px solid white;
    color: white;
  }

  .general h2 {
    font-size: 27px;
  }

  .respEditButton {
    position: absolute;
    bottom: 200px;
    right: 16px;
    height: 56px;
    width: 56px;
    background-color: #2a3647;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    cursor: pointer;
  }

  .respEditButton:hover {
    background-color: #29abe2;
  }

  .respContactBtnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #ffffff;
    height: 100px;
    width: 116px;
    position: absolute;
    bottom: 250px;
    right: 64px;
    border-radius: 10px 10px 0px 20px;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.2));
  }

  .editDeleteBtn {
    width: 80px;
  }

  .respBtnclosed {
    display: none;
  }

  .overlayClosed {
    transform: translateY(100%);
  }

  .message {
    left: calc(50% - 160px);
    bottom: 220px;
  }
}

@media (max-width: 600px) {
  .inputContainer input {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .respNavbarContent {
    padding-left: 8px;
    padding-right: 8px;
  }

  .firstLetterContainer {
    padding-left: 32px;
  }

  .singleContact {
    margin-left: 16px;
    gap: 16px;
    width: 280px;
  }

  .name {
    font-size: 16px;
  }
  .email {
    font-size: 14px;
  }

  .overlayLeftHalf h2 {
    font-size: 40px;
    font-weight: 700;
  }

  .personIcon {
    height: 100px;
    width: 100px;
    left: calc(50% - 50px);
  }

  .personIconEdit {
    height: 100px;
    width: 100px;
    left: calc(50% - 50px);
  }

  .intialBig {
    height: 90px;
    width: 90px;
    font-size: 28px;
  }

  .intialMobile {
    height: 80px;
    width: 80px;
    font-size: 24px;
  }

  .general h2 {
    font-size: 24px;
  }

  #addErrorMessage p {
    font-size: 14px;
  }

  #editErrorMessage p {
    font-size: 14px;
  }

  .message {
    left: calc(50% - 160px);
    bottom: 220px;
  }
}

@media (max-width: 360px) {
  .navSvg {
    width: 25px;
    height: 25px;
  }

  .respNavButton a {
    font-size: 14px;
  }

  .respNavButtonMid a {
    font-size: 14px;
  }

  .respNavButtonRight a {
    font-size: 14px;
  }

  .intialMobile {
    height: 70px;
    width: 70px;
    font-size: 20px;
  }

  .general h2 {
    font-size: 20px;
  }

  .message {
    width: 300px;
    left: calc(50% - 150px);
  }
}

.respDetailInfo {
  position: fixed;
  top: 96px;
  left: 0;
  width: 100%;
  background-color: #f6f7f8;
  height: 100dvh;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 32px;
}

.respDetailHeader {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.respDetailHeadText {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.respDetailHeadText h1 {
  font-size: 47px;
  font-weight: 700;
}

.respDetailHeadText h3 {
  font-size: 20px;
  font-weight: 400;
}

.respDivider {
  height: 3px;
  width: 90px;
  background-color: #29abe2;
}

.backFromDetail {
  cursor: pointer;
}

.addButtonRemoved {
  display: none;
}

@media (max-height: 670px) {
  .inputContainer input {
    height: 24px;
  }

  .create {
    height: 40px;
    width: 214px;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    background-color: #2a3647;
    border-radius: 10px;
  }

  .personIcon {
    position: absolute;
    bottom: calc(50% - -100px);
    left: calc(50% - 30px);
    height: 70px;
    width: 70px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d1d1d1;
    margin-bottom: 0;
  }

  .personIcon img {
    height: 24px;
    width: 24px;
  }

  .overLayButtonWrapper {
    margin-top: 0;
  }

  .inputAndButtons {
    gap: 12px;
    padding-top: 0;
  }

  #addErrorMessage {
    margin-top: 0;
  }

  .inputContainer .icon {
    height: 14px;
  }

  .save {
    height: 42px;
    width: 99px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    background-color: #2a3647;
    border-radius: 10px;
  }

  .delete {
    height: 42px;
    width: 99px;
    border: 1px solid #2a3647;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
  }

  .intialBig {
    height: 70px;
    width: 70px;
    font-size: 24px;
  }

  .personIconEdit {
    bottom: calc(50% - -75px);
  }

  .inputContainer input {
    font-size: 15px;
  }
}
