* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Inter", serif;
}

body {
  background-color: #f6f7f8;
  max-width: 1920px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f7f8;
  z-index: 1000;
  animation: backgroundFade 1s ease-in-out 0.5s forwards;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #f6f7f8;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 64px;
  padding-bottom: 60px;
}

.headerLogo img {
  position: fixed;
  z-index: 1001;
  animation: logo 0.5s ease-in-out 0.5s forwards;
  height: 340px;
  width: 290px;
  transform: translate(calc(50dvw - 75%), calc(50dvh - 60%));
}

.headerSignUp {
  display: flex;
  gap: 26px;
  align-items: start;
  font-size: 20px;
  margin-right: 70px;
}

.signUpText {
  display: flex;
  align-items: center;
  height: 48px;
}

.signUpText p {
  color: #000000;
}

.signUpButton {
  background-color: #2a3647;
  color: #ffffff;
  border: none;
  padding: 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 125ms ease-in-out;
}

.signUpButton:hover {
  background-color: #29abe2;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.stdPadding {
  padding-left: 64px;
  padding-right: 64px;
}

main {
  margin-top: 14dvh;
}

.loginContainer {
  display: flex;
  justify-content: center;
  flex: 1;
  margin-top: 32px;
  margin-bottom: 80px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 16px 90px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  gap: 12px;
}

h1 {
  margin-top: 24px;
  font-size: 60px;
}

.separator {
  height: 3px;
  width: 150px;
  background-color: #29abe2;
  margin-bottom: 14px;
}

.formGroup {
  position: relative;
  max-width: 100%;
  width: 100%;
}

.formGroup input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 12px;
  width: 350px;
  transition: border-color 0.3s;
  outline: none;
}

.formGroup input::placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-size: 16px;
}

.formGroup input:focus {
  border-color: #29abe2;
}

.formGroup img {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  max-width: calc(100% - 16px);
}

.loginButtonsContainer {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 24px;
}

.loginButton {
  background-color: #2a3647;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  transition: background-color 125ms ease-in-out;
}

.loginButton:hover {
  background-color: #29abe2;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.guestLoginButton {
  background-color: #ffffff;
  color: #2a3647;
  border: 2px solid #2a3647;
  padding: 8px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  transition: border-color 125ms ease-in-out;
  transition: color 125ms ease-in-out;
}

.guestLoginButton:hover {
  border: 2px solid #29abe2;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  color: #29abe2;
}

#addErrorMessage {
  height: 16px;
  margin-bottom: 0px;
}

#addErrorMessage p {
  color: red;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f7f8;
  padding: 24px;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 1920px;
}

.privacyLink a {
  color: #a8a8a8;
  text-decoration: none;
  font-weight: 200;
  font-size: 16px;
  margin-left: 18px;
  margin-right: 18px;
}

.privacyLink a:hover {
  color: #29abe2;
  font-weight: 510;
  margin-left: 11px;
}

.legalLink a {
  color: #a8a8a8;
  text-decoration: none;
  font-weight: 200;
  font-size: 16px;
  margin-left: 18px;
  margin-right: 18px;
}

.legalLink a:hover {
  color: #29abe2;
  font-weight: 510;
  margin-right: 13px;
}

.cursorPointer:hover {
  cursor: pointer;
}

.d-none {
  display: none;
}

.pointerEvent {
  pointer-events: none;
}

.redBorder {
  border: 1px solid red !important;
}

@keyframes logo{
  0% {
    height: 340px;
    width: 290px;
    transform: translate(calc(50dvw - 75%), calc(50dvh - 60%));
  }

  100% {
    height: 121px;
    width: 100px;
    transform: translate(0, 0);
  }
}

@keyframes backgroundFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}