@media (max-width: 1260px) {
  .headerSignUp {
    margin-right: 0;
  }
}

@media (max-width: 1024px) {
  .blueLogo {
    height: 160px;
    width: 110px;
    opacity: 0;
    transform: translate(-85%, -75%);
    margin-top: 34px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .overlay {
    background-color: #2a3647;
  }

  .whiteLogo {
    opacity: 1;
    transform: translate(-85%, -75%);
    margin-top: 34px;
    margin-left: 34px;
    margin-right: 34px;
  }

  @keyframes logo {
    0% {
      opacity: 0;
      height: 160px;
      width: 110px;
      top: 50%;
      left: 50%;
      transform: translate(-85%, -75%);
    }
    100% {
      opacity: 1;
      height: 78px;
      width: 64px;
      top: 0;
      left: 0;
      transform: translate(0, 0);
    }
  }

  @keyframes whiteLogoFade {
    0% {
      opacity: 1;
      height: 160px;
      width: 110px;
      top: 50%;
      left: 50%;
      transform: translate(-85%, -75%);
    }
    100% {
      opacity: 0;
      height: 78px;
      width: 64px;
      top: 0;
      left: 0;
      transform: translate(0, 0);
    }
  }

  header {
    padding-top: 38px;
  }
}

@media (max-width: 650px) {
  .headerSignUp {
    display: none;
  }

  .signUpButton {
    padding: 0;
    height: 40px;
    width: 100px;
  }

  header {
    padding: 34px;
    margin-bottom: 40px;
  }

  .loginForm {
    padding: 10px 20px;
    margin-top: 8px;
  }

  .loginButtonsContainer {
    flex-direction: column;
    align-items: center;
    gap: 21px;
    margin-top: 38px;
  }

  .loginButton {
    width: 180px;
    height: 51px;
    padding: 0;
  }

  .guestLoginButton {
    width: 180px;
    height: 51px;
    padding: 0;
  }

  h1 {
    font-size: 47px;
  }

  .footerSignUp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
  }
}

@media (max-width: 540px) {
  h1 {
    font-size: 34px;
  }

  .loginContainer {
    margin-top: 0;
  }
}

@media (max-width: 450px) {
  .formGroup input {
    width: 300px;
  }

  .privacyLink a {
    font-size: 14px;
  }

  .legalLink a {
    font-size: 14px;
  }

  header {
    margin-bottom: 35px;
  }
}

@media (max-height: 667px) {
  header {
    padding: 24px;
  }

  h1 {
    font-size: 34px;
  }

  .loginForm {
    padding: 10px 20px;
    margin-top: 8px;
  }

  .loginButtonsContainer {
    gap: 16px;
    margin-top: 18px;
  }

  .loginButton {
    width: 180px;
    height: 40px;
  }

  .guestLoginButton {
    width: 180px;
    height: 40px;
  }
}

@media (max-width: 380px) {
  .formGroup input {
    width: 260px;
  }
}

@media (max-height: 740px) {
  .loginButtonsContainer {
    gap: 14px;
    margin-top: 10px;
  }
}

@media (min-height: 1180px) {
  h1 {
    font-size: 74px;
  }

  .formGroup input {
    width: 450px;
    height: 50px;
  }

  .loginForm {
    padding: 24px 70px;
    gap: 24px;
  }

  .loginButton {
    padding: 0;
    height: 51px;
    width: 100px;
  }

  .guestLoginButton {
    padding: 0;
    height: 51px;
    width: 150px;
  }

  main {
    height: 87%;
  }
}

@media (min-height: 1180px) and (min-width: 1921px) {
  h1 {
    font-size: 86px;
  }

  .formGroup input {
    width: 580px;
    height: 70px;
  }

  .formGroup input::placeholder {
    font-size: 21px;
  }

  .formGroup img {
    width: 26px;
    height: 26px;
  }

  .blueLogo {
    transform: translate(-80%, -60%);
  }

  @keyframes logo {
    0% {
      height: 340px;
      width: 290px;
      top: 50%;
      left: 50%;
      transform: translate(-80%, -60%);
    }

    100% {
      height: 121px;
      width: 100px;
      top: 0;
      left: 0;
      transform: translate(0, 0);
    }
  }
}

@media (min-height: 800px) and (max-height: 801px) and (min-width: 1280px) {
  main {
    height: 82%;
  }

  .blueLogo {
    transform: translate(-90%, -80%);
  }

  @keyframes logo {
    0% {
      height: 340px;
      width: 290px;
      top: 50%;
      left: 50%;
      transform: translate(-90%, -80%);
    }

    100% {
      height: 121px;
      width: 100px;
      top: 0;
      left: 0;
      transform: translate(0, 0);
    }
  }
}

@media (min-height: 600px) and (max-height: 601px) and (min-width: 1024px) {
  main {
    height: 69%;
  }
}

@media (max-height: 920px) and (min-width: 1920px) {
  main {
    height: 80%;
  }
}
