@media (max-width: 1260px) {
    .headerSignUp {
        margin-right: 0;
    }
}

@media (max-width: 650px) {
    .headerSignUp {
        display: none;
    }

    .signUpButton {
        padding: 0;
        height: 40px;
        width: 100px;
    }

    .headerLogo img {
        height: 200px;
        width: 150px;
    }

    header {
        padding: 34px;
    }

    .loginContainer {
        margin-bottom: 40px;
    }

    .loginForm {
        padding: 10px 20px;
        margin-top: 8px;
    }

    .loginButtonsContainer {
        flex-direction: column;
        align-items: center;
        gap: 21px;
        margin-top: 38px;
    }

    .loginButton {
        width: 180px;
        height: 51px;
        padding: 0;
    }

    .guestLoginButton {
        width: 180px;
        height: 51px;
        padding: 0;
    }

    h1 {
        font-size: 47px;
    }

    @keyframes logo{
        0% {
          height: 200px;
          width: 150px;
          transform: translate(calc(50dvw - 75%), calc(50dvh - 60%));
        }
      
        100% {
          height: 78px;
          width: 64px;
          transform: translate(0, 0);
        }
      }

      .footerSignUp {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
      }
}

@media (max-width: 540px) {
    h1 {
        font-size: 34px;
    }

    .loginContainer {
        margin-top: 0;
    }
}

@media (max-width: 450px) {
    .formGroup input {
        width: 300px;
    }

    .privacyLink a {
        font-size: 14px;
    }

    .legalLink a {
        font-size: 14px;
    }
}



@media (max-height: 667px) {
    header {
        padding: 24px;
    }

    h1 {
        font-size: 34px;
    }

    .loginContainer {
        margin-bottom: 24px;
        margin-top: 16px;
    }

    .loginForm {
        padding: 10px 20px;
        margin-top: 8px;
    }

    .loginButtonsContainer {
        gap: 16px;
        margin-top: 18px;
    }

    .loginButton {
        width: 180px;
        height: 40px;
    }

    .guestLoginButton {
        width: 180px;
        height: 40px;
    }
}

@media (max-width: 380px) {
    .formGroup input {
        width: 260px;
    }
}

@media (max-height: 740px) {
    .loginContainer {
        margin-bottom: 20px;
        margin-top: 0;
    }

    .loginButtonsContainer {
        gap: 14px;
        margin-top: 10px;
    }

}

/* TO-DO: Asus Zenbook Fold, Surface Pro 7, iPad Pro, iPad Air */