.summaryHeadline{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 64px;
}

.summaryHeadline h1{
    font-size: 51px;
    font-weight: 700;
}

.blueDivider{
    width: 3px;
    height: 59px;
    background-color: #29ABE2;
}

.summaryHeadline span{
font-size: 27px;
font-weight: 200;
line-height: 32.4px;
}

.tiles{
    width: 264px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 38px 19px;
}

.sumContent{
    display: flex;
    gap: 8px;
    align-items: center;
}

.background{
    background-color:#2A3647 ; 
    width: 69px;
    height: 69px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background path{
    fill: white;
    width: 24px;
    height: 24px;
}

.amount{
    display: flex;
    flex-direction: column;
}

.amount p{
    font-size: 64px;
    font-weight: 600;
    line-height: 76.8px;
    text-align: center;
}

.amount span{
font-size: 20px;
font-weight: 400;
line-height: 24px;
text-align: left;
}
